*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root, body, html {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
